/backend/vendor/
/backend/var/
/backend/.env
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/config/jwt/
/.env
/frontend/node_modules/
/frontend/dist/
.dist-source-sha
/frontend/.env
/frontend/.env.local
/volumes/*
!/volumes/.gitkeep
!/volumes/*/
!/volumes/*/*/
!/volumes/*/*/.gitkeep
/volumes/*/node_modules/*
!/volumes/*/node_modules/.gitkeep
/volumes/*/postgres/data/*
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
