/backend/vendor/
/backend/var/
/backend/.env
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/config/jwt/
/.env
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.local
/volumes/*
!/volumes/.gitkeep
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
